<a href="https://colab.research.google.com/github/ssyyjj1012/data-analysis/blob/main/%EB%8D%B0%EC%9D%B4%ED%84%B0_%EC%A0%95%EC%A0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 데이터 정제
Web / IDS로그 / 시스템 / 데이터베이스 실제 로그를 사용한 데이터 정제

# 01 Padnas IO 도구들
- csv & Text Files
 - 텍스트 파일을 읽는 두 가지 함수 :read_csv() 와 read_table()
   - 표 형식의 데이터를 지능적으로 DataFrame 개체로 변환

In [5]:
import pandas as pd 
from io import StringIO

data = 'col1,col2,col3\na,b,1\na,b,2\nc,d,3'
df = pd.read_csv(StringIO(data))
df

  col1 col2  col3
0    a    b     1
1    a    b     2
2    c    d     3

In [6]:
df.to_csv('test.csv')

- Excel Files
 - read_excel() : xlrd 파이썬 모듈을 사용하여 Excel 파일을 읽음

In [ ]:
import pandas 
df = pd.read_excel('파일명.xlsx', sheetname = 'Sheet1')
df

In [ ]:
df.to_excel('b.xlsx', sheet_name = 'Sheet1')

- HTML
 - HTML 문자열/파일/URL을 허용하며 HTML 표를 판다스 데이터 프레임 목록으로 파싱

In [10]:
import pandas as pd

url = 'https://www.fdic.gov/resources/resolutions/bank-failures/failed-bank-list/'
dfs = pd.read_html(url)
dfs

[                         Bank NameBank  ... FundFund
 0                    Almena State Bank  ...    10538
 1           First City Bank of Florida  ...    10537
 2                 The First State Bank  ...    10536
 3                   Ericson State Bank  ...    10535
 4     City National Bank of New Jersey  ...    10534
 ..                                 ...  ...      ...
 558                 Superior Bank, FSB  ...     6004
 559                Malta National Bank  ...     4648
 560    First Alliance Bank & Trust Co.  ...     4647
 561  National State Bank of Metropolis  ...     4646
 562                   Bank of Honolulu  ...     4645

 [563 rows x 7 columns]]

In [12]:
from sklearn import datasets

## 데이터 로드하기
iris = datasets.load_iris()
irisdt = pd.DataFrame(iris['data'], columns = iris['feature_names'])

with open('a.html','w') as a:
  a.write(irisdt.to_html())

- SQL Queries
 - 데이터 검색을 용이하게 하고 DB 특정 API에 대한 종속성을 줄이기 위해 쿼리 래퍼 모음을 제공

In [20]:
!pip install pymysql

Requirement already satisfied: pymysql in /usr/local/lib/python3.7/dist-packages (1.0.2)

In [ ]:
import pymysql
import pandas as pd

# MySQL Connection 연결
conn = pymysql.connect(host = 'localhost', user = 'root',password = 'apmsetup', db = 'mysql', charset = 'utf8')

sql = 'select * from user'

## DataFrame으로 SQL 쿼리 읽기
pd.read_sql_query(sql,conn)

# 02 웹로그 2 데이터 프레임
### NASA 웹로그 실습

In [22]:
import pandas as pd
from datetime import datetime
import gc
import matplotlib
import matplotlib.pyplot as plt

matplotlib.style.use('ggplot')

In [23]:
def posix_string_to_datetime(posix_string):
  return datetime.ufcfromtimestamp(int(posix_string))

In [24]:
df = pd.io.parser.read_csv(
    'nasa_19950801.tsv', # tsv 파일
    index_col = 2, # 2번째 컬럼을 인덱스로 활용
    parse_dates = True,
    sep = '\t',
    date_parser = posix_string_to_datetime
)

df

AttributeError: ignored