<a href="https://colab.research.google.com/github/ssyyjj1012/data-analysis/blob/main/Pandas_%EC%8B%A0%EC%9A%A9%EB%8F%84_(%EC%8B%A4%EC%8A%B5)%EC%9D%98_%EC%82%AC%EB%B3%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 모듈 설치 및 데이터 다운로드

In [ ]:
!pip install mySUNI -q
import mySUNI
from mySUNI import cds
print(f'패키지 버전: {mySUNI.__version__}')

In [ ]:
cds.download_data('신용정보')

## 데이터셋 설명

- gender: 성별
- car: 차량 소유 여부
- realty: 부동산 소유 여부
- child_num: 자녀 수
- income_total: 연간 소득
- income_type: 소득 분류
- edu_type: 교육 수준
- family_type: 결혼 여부
- house_type: 생활 방식
- phone: 전화 소유 여부
- email: 이메일 소유 여부
- occyp_type: 직업 유형
- family_size: 가족 규모
- credit: 사용자의 신용카드 대금 연체를 기준의 신용도

### pandas 모듈을 import 합니다.

In [ ]:
# 코드를 입력해 주세요

### `data/credit-data.csv` 파일을 로드하여 `df`변수에 대입합니다.

In [ ]:
# 코드를 입력해 주세요

### 상위 5개를 출력합니다.

In [ ]:
# 코드를 입력해 주세요

<p><strong>[출력 결과]</strong></p><div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>gender</th>
      <th>car</th>
      <th>realty</th>
      <th>child_num</th>
      <th>income_total</th>
      <th>income_type</th>
      <th>edu_type</th>
      <th>family_type</th>
      <th>house_type</th>
      <th>phone</th>
      <th>email</th>
      <th>occyp_type</th>
      <th>family_size</th>
      <th>credit</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>F</td>
      <td>N</td>
      <td>N</td>
      <td>0</td>
      <td>202500.0</td>
      <td>Commercial associate</td>
      <td>Higher education</td>
      <td>Married</td>
      <td>Municipal apartment</td>
      <td>0</td>
      <td>0</td>
      <td>NaN</td>
      <td>2.0</td>
      <td>mid</td>
    </tr>
    <tr>
      <th>1</th>
      <td>F</td>
      <td>N</td>
      <td>Y</td>
      <td>1</td>
      <td>247500.0</td>
      <td>Commercial associate</td>
      <td>Secondary / secondary special</td>
      <td>Civil marriage</td>
      <td>House / apartment</td>
      <td>0</td>
      <td>1</td>
      <td>Laborers</td>
      <td>3.0</td>
      <td>mid</td>
    </tr>
    <tr>
      <th>2</th>
      <td>M</td>
      <td>Y</td>
      <td>Y</td>
      <td>0</td>
      <td>450000.0</td>
      <td>Working</td>
      <td>Higher education</td>
      <td>Married</td>
      <td>House / apartment</td>
      <td>1</td>
      <td>0</td>
      <td>Managers</td>
      <td>2.0</td>
      <td>low</td>
    </tr>
    <tr>
      <th>3</th>
      <td>F</td>
      <td>N</td>
      <td>Y</td>
      <td>0</td>
      <td>202500.0</td>
      <td>Commercial associate</td>
      <td>Secondary / secondary special</td>
      <td>Married</td>
      <td>House / apartment</td>
      <td>1</td>
      <td>0</td>
      <td>Sales staff</td>
      <td>2.0</td>
      <td>high</td>
    </tr>
    <tr>
      <th>4</th>
      <td>F</td>
      <td>Y</td>
      <td>Y</td>
      <td>0</td>
      <td>157500.0</td>
      <td>State servant</td>
      <td>Higher education</td>
      <td>Married</td>
      <td>House / apartment</td>
      <td>0</td>
      <td>0</td>
      <td>Managers</td>
      <td>2.0</td>
      <td>low</td>
    </tr>
  </tbody>
</table>
</div>

### 결측치를 확인합니다.

In [ ]:
# 코드를 입력해 주세요

<p><strong>[출력 결과]</strong></p><pre>gender             0
car                0
realty             0
child_num          0
income_total       0
income_type        0
edu_type           0
family_type        0
house_type         0
phone              0
email              0
occyp_type      8171
family_size        0
credit             0
dtype: int64</pre>

### 차 소유자 숫자를 출력합니다.

In [ ]:
# 코드를 입력해 주세요

<p><strong>[출력 결과]</strong></p><pre>10047</pre>

### 차(car) 소유자 / 비소유자 비율 계산

In [ ]:
# 코드를 입력해 주세요

<p><strong>[출력 결과]</strong></p><pre>0.6122486288848263</pre>

### income_total 이 300000 이상인 사람들은 'VIP' 컬럼 생성 후 True, 나머지는 False

In [ ]:
# 코드를 입력해 주세요

### VIP와 VIP 아닌 사람들의 분포 확인

In [ ]:
# 코드를 입력해 주세요

<p><strong>[출력 결과]</strong></p><pre>False    23629
True      2828
Name: VIP, dtype: int64</pre>

### VIP 인 사람들의 소득 평균(income_total)

In [ ]:
# 코드를 입력해 주세요

<p><strong>[출력 결과]</strong></p><pre>401570.5258132956</pre>

### VIP가 아닌 사람들의 소득 중앙값(income_total)

In [ ]:
# 코드를 입력해 주세요

<p><strong>[출력 결과]</strong></p><pre>157500.0</pre>

### VIP이고 차를 소유(Y)하고 있으며, 남자(M)인 사람들의 income_total 평균

In [ ]:
# 코드를 입력해 주세요

<p><strong>[출력 결과]</strong></p><pre>400561.0465116279</pre>

### VIP가 아니고 차를 소유(Y)하고 있으며, 여자(F)인 사람들의 income_total 평균

In [ ]:
# 코드를 입력해 주세요

<p><strong>[출력 결과]</strong></p><pre>164298.55838557993</pre>

### family_size 가 5보다 크며 (초과) 차를 소유하지 않은 (N) 사람들의 income_total 중앙값

In [ ]:
# 코드를 입력해 주세요

<p><strong>[출력 결과]</strong></p><pre>157500.0</pre>

- child_num을 family_size로 나누어 자식 / 가족의 비율을 구합니다.
- 비율을 새로운 `family_rate` 컬럼 생성 후 대입합니다.

In [ ]:
# 코드를 입력해 주세요

<p><strong>[출력 결과]</strong></p><pre>0        0.000000
1        0.333333
2        0.000000
3        0.000000
4        0.000000
           ...   
26452    0.500000
26453    0.500000
26454    0.000000
26455    0.000000
26456    0.000000
Name: family_rate, Length: 26457, dtype: float64</pre>

### family_rate의 평균

In [ ]:
# 코드를 입력해 주세요

<p><strong>[출력 결과]</strong></p><pre>0.12763669830230667</pre>

### edu_type컬럼의 분포 확인

In [ ]:
# 코드를 입력해 주세요

<p><strong>[출력 결과]</strong></p><pre>Secondary / secondary special    17995
Higher education                  7162
Incomplete higher                 1020
Lower secondary                    257
Academic degree                     23
Name: edu_type, dtype: int64</pre>

### family_type의 분포 확인

In [ ]:
# 코드를 입력해 주세요

<p><strong>[출력 결과]</strong></p><pre>Married                 18196
Single / not married     3496
Civil marriage           2123
Separated                1539
Widow                    1103
Name: family_type, dtype: int64</pre>

### family_type은 'Married'이거나 'Separated'이면서 income_total  이 200000 이상인 사람들의 edu_type 분포 확인

In [ ]:
# 코드를 입력해 주세요

<p><strong>[출력 결과]</strong></p><pre>Secondary / secondary special    4214
Higher education                 2822
Incomplete higher                 288
Lower secondary                    35
Academic degree                     8
Name: edu_type, dtype: int64</pre>

### credit 이 high가 아닌 사람들의 income_total과 family_size 통계 요약 확인

In [ ]:
# 코드를 입력해 주세요

<p><strong>[출력 결과]</strong></p><div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>income_total</th>
      <th>family_size</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>count</th>
      <td>2.323500e+04</td>
      <td>23235.000000</td>
    </tr>
    <tr>
      <th>mean</th>
      <td>1.868210e+05</td>
      <td>2.197202</td>
    </tr>
    <tr>
      <th>std</th>
      <td>1.018348e+05</td>
      <td>0.921523</td>
    </tr>
    <tr>
      <th>min</th>
      <td>2.700000e+04</td>
      <td>1.000000</td>
    </tr>
    <tr>
      <th>25%</th>
      <td>1.215000e+05</td>
      <td>2.000000</td>
    </tr>
    <tr>
      <th>50%</th>
      <td>1.575000e+05</td>
      <td>2.000000</td>
    </tr>
    <tr>
      <th>75%</th>
      <td>2.250000e+05</td>
      <td>3.000000</td>
    </tr>
    <tr>
      <th>max</th>
      <td>1.575000e+06</td>
      <td>20.000000</td>
    </tr>
  </tbody>
</table>
</div>

### occyp_type이 결측치 인 경우, income_total 평균 값

In [ ]:
# 코드를 입력해 주세요

<p><strong>[출력 결과]</strong></p><pre>169174.35644351976</pre>

### occyp_type이 결측치가 아닌 경우, income_total 중앙값

In [ ]:
# 코드를 입력해 주세요

<p><strong>[출력 결과]</strong></p><pre>180000.0</pre>

### 'House / apartment'에 살지 않은 사람들의 신용도(credit) 분포 확인

In [ ]:
# 코드를 입력해 주세요

<p><strong>[출력 결과]</strong></p><pre>low     1757
mid      698
high     349
Name: credit, dtype: int64</pre>